@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("icomoon/icomoon.eot");
  src: url("icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("icomoon/icomoon.ttf") format("truetype"), url("icomoon/icomoon.woff") format("woff"), url("icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"], i {
  font-family: "icomoon", "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
  content: "\e658";
}

.icon-right-arrow:before {
  content: "\e659";
}

.icon-down-arrow:before {
  content: "\e65a";
}

.icon-up-arrow:before {
  content: "\e65b";
}

.icon-toggle:before {
  content: "\e65c";
}

.icon-search:before {
  content: "\e65d";
}

.icon-msg:before {
  content: "\e661";
}

.icon-close:before {
  content: "\e69e";
}

.icon-more:before {
  content: "\e6a0";
}

.icon-home:before {
  content: "\e900";
}

.icon-history:before {
  content: "\e901";
}

.icon-guestbook:before {
  content: "\e902";
}

.icon-about:before {
  content: "\e903";
}

.icon-archive:before {
  content: "\e904";
}

.icon-rss:before {
  content: "\e905";
}

body {
  padding-top: 80px;
  color: #ddd;
  background-color: #292929;
  background-image: url(./pics/triangles.png);
}

.copyright {
  color: #ffffff;
}

.footer {
  text-align: center;
}

.sidebar h1 {
  color: #ddd;
}

.sidebar .well ul {
  list-style: none;
}
.sidebar .well ul {
  padding: 0;
}
.sidebar .well ul li {
  margin-top: 0.7em;
  line-height: 1em;
}
.sidebar .well ul li a {
  text-decoration: none;
  border-bottom: 0.1em solid #bbb;
  outline: 0;
}
.sidebar .well ul li .category-list-count, .sidebar .well ul li .archive-list-count, .sidebar .well ul li .tag-list-count {
  margin-left: 0.5em;
  font-size: 0.8em;
  color: #999;
}
.sidebar .well ul li .category-list-count:before, .sidebar .well ul li .archive-list-count:before, .sidebar .well ul li .tag-list-count:before {
  content: " (";
}
.sidebar .well ul li .category-list-count:after, .sidebar .well ul li .archive-list-count:after, .sidebar .well ul li .tag-list-count:after {
  content: ") ";
}
.sidebar .well ul li ul.category-list-child {
  list-style: none;
  padding: 0 0 0 1em;
}
.sidebar .well ul li a.archive-list-link, .sidebar .well ul li a.post-list-link, .sidebar .well ul li a.links-list-link {
  border-bottom: 0;
}
.sidebar .well ul #archive-list-button {
  float: right;
  padding: 0 0 0 12px;
  color: #dcdcdc;
  cursor: pointer;
}

.well {
  background-color: #444;
  box-shadow: 0px 0px 0px 0px, 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 6px;
}
.well .tags {
  padding: 1em;
  border-top: 1px solid;
  margin-top: 3em;
}
.well .tags a {
  margin-right: 0.5em;
}
.well .tags a:before {
  content: "#";
  display: inline-block;
}
.well .post-nav {
  overflow: hidden;
  border-top: 1px solid;
  white-space: nowrap;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}
.well .post-nav a {
  display: inline-block;
  line-height: 25px;
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 15px;
  color: #3CA2A2;
  border-bottom: none;
  float: left;
}
.well .post-nav a.pre {
  float: left;
}
.well .post-nav a.pre:before {
  content: "<<";
}
.well .post-nav a.next {
  float: right;
}
.well .post-nav a.next:after {
  content: ">>";
}
.well .post-nav a:hover {
  border-bottom: none;
  color: #222;
}

.well > main-page {
  width: 75%;
}

.main-page {
  width: 75%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

.author {
  color: #ee4444;
}

.author a {
  color: #ee4444;
}

img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

img + em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

blockquote {
  color: #bbb;
  font-size: 1em;
}

.center-image {
  margin: 0 auto;
  display: block;
}

a {
  color: #3CA2A2;
}

a:hover {
  color: #3CA2A2;
  border-bottom: 1px solid transparent;
}

ul.social-media {
  text-align: center;
  padding: 0 0 10px 0;
}
ul.social-media li {
  display: inline-block;
}
ul.social-media li > a {
  width: 45px;
  height: 45px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  display: inline-block;
  color: white;
}
ul.social-media li > a:hover {
  color: #3CA2A2;
}

h2.post-title {
  padding-top: 10px;
  text-align: left;
}

div.post-meta {
  border: 1px solid #666666;
  border-width: 1px 0;
  margin: 0 0 20px;
}
div.post-meta ul {
  display: inline;
  padding-left: 0px;
  float: right;
}
div.post-meta ul > li {
  display: inline;
  padding: 0 0 5px 20px;
}
div.post-meta .post-time {
  display: inline;
}
div.post-meta .post-visitors-count {
  display: inline;
  float: right;
}

.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}
.post-footer a.pre {
  float: left;
}
.post-footer a.pre:before {
  content: "< ";
}
.post-footer a.next {
  float: right;
}
.post-footer a.next:after {
  content: " >";
}

.note {
  position: relative;
  border: 0;
  padding-left: 30px;
}

.note:before {
  content: "\f06a";
  font-size: 2em;
  font-family: FontAwesome;
  left: 0px;
  position: absolute;
  top: 0;
  color: #87CEFA;
}

.warning:before {
  content: "\f071";
  color: yellow;
}

nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
  font-family: ubuntu;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}

.navbar-brand {
  font-size: 30px;
  color: #3CA2A2 !important;
}

nav.navbar.shrink {
  min-height: 25px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
  height: inherit;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: right;
}

@media (min-width: 1000px) {
  .twoRow .navbar-collapse {
    clear: left;
  }
  .footer-distributed .footer {
    text-align: center;
  }
  .footer-distributed .footer {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer {
    line-height: 1.8;
  }
}
.footer-distributed {
  background-color: #292c2f;
  font: normal 16px sans-serif;
  padding: 20px 25px;
  margin-top: 80px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

/*----------------------------*\
|    Table of content, toc     |
\*----------------------------*/
.toc {
  background-color: 2 c2c2c;
  margin-left: -19px;
  margin-right: -19px;
}

.box h3 {
  text-align: center;
  position: relative;
  top: 80px;
}

.box {
  width: 70%;
  height: 200px;
  background: #FFF;
  margin: 40px auto;
}

/*==================================================
 * Effect 1
 * ===============================================*/
.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
.wrapper .side-button-wrap {
  position: fixed;
  _position: fixed;
  bottom: 123px;
  _bottom: auto;
  width: 40px;
  height: 40px;
  right: 10px;
  z-index: 1000;
}
.wrapper .side-button-wrap .side-button {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #9c9c9c;
  background: whitesmoke;
  border: 1px solid #d9d9d9;
  margin-top: 10px;
  float: left;
}
.wrapper .side-button-wrap .side-button:hover {
  background-color: #999999;
  color: #fff;
  text-decoration: none;
}
.wrapper .side-button-wrap #to-comment-button {
  display: none;
}

.content {
  padding-bottom: 150px;
}

.post .post-descr .toc-content, .article-entry .toc-content {
  background: #ffffff; /*目录背景*/
  border: 1px solid #f15b6c; /*目录边框*/
  border-radius: 10px; /*目录圆角*/
  padding: 1em;
  max-width: 50%;
  position: fixed; /*固定目录位置，不随页面滚动而滚动*/
  margin: -10em 1em 50em 90em; /*目录在页面的绝对位置*/
  left: 2em;
  z-index: 2; /*目录在页面的放置次序（是否置顶）*/
}
.post .post-descr .toc-content .toc-title, .article-entry .toc-content .toc-title {
  font-size: 120%; /*Menu的字号*/
  padding-bottom: 0.8em;
  font-weight: bold;
}
.post .post-descr #toc, .article-entry #toc {
  line-height: 1.1em;
  font-size: 0.8em;
  float: right;
}
.post .post-descr #toc .toc, .article-entry #toc .toc {
  padding: 0 li;
  padding-list-style-type: none;
}
.post .post-descr #toc .toc-child, .article-entry #toc .toc-child {
  padding-left: 1.5em;
}
.post .post-descr #toc ol, .article-entry #toc ol {
  margin: 0;
}
.post .post-descr #toc li, .article-entry #toc li {
  list-style-type: none;
}
.post .post-descr pre, .article-entry pre {
  position: relative;
  margin: 0;
  padding: 1em;
  overflow-x: auto;
  word-wrap: normal;
  border: none;
  white-space: pre;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-color: #333;
}
.post .post-descr pre .hljs, .article-entry pre .hljs {
  background: none;
}
.post .post-descr table, .article-entry table {
  width: 100%;
  border: 1px solid #333;
  margin: 15px 0;
  border-collapse: collapse;
}
.post .post-descr table tr, .post .post-descr table td, .article-entry table tr, .article-entry table td {
  height: 35px;
}
.post .post-descr table thead tr, .article-entry table thead tr {
  background: #333;
}
.post .post-descr table td, .post .post-descr table th, .article-entry table td, .article-entry table th {
  border: 1px solid #212121;
  padding: 0 10px;
}
.post .post-descr h1, .article-entry h1 {
  border-bottom: double;
}
.post .post-descr h2, .article-entry h2 {
  border-bottom: 1px solid;
}

/*==================================================
 * Comment
 * ===============================================*/
#vcomment .vwrap .vheader .vinput,
#vcomment .vwrap .vedit > .vctrl > span,
#vcomment .vwrap .vedit > .vpreview > p {
  color: #ddd;
}
#vcomment .vwrap input::-webkit-input-placeholder,
#vcomment .vwrap textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bdbdbd;
}
#vcomment .vwrap input:-moz-placeholder,
#vcomment .vwrap textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bdbdbd;
}
#vcomment .vwrap input::-moz-placeholder,
#vcomment .vwrap textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bdbdbd;
}
#vcomment .vwrap input:-ms-input-placeholder,
#vcomment .vwrap textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bdbdbd;
}
#vcomment .vlist .vcard > .vh > .vcontent > p {
  color: #ddd;
}
#vcomment .vlist input::-webkit-input-placeholder,
#vcomment .vlist textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bdbdbd;
}
#vcomment .vlist input:-moz-placeholder,
#vcomment .vlist textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bdbdbd;
}
#vcomment .vlist input::-moz-placeholder,
#vcomment .vlist textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bdbdbd;
}
#vcomment .vlist input:-ms-input-placeholder,
#vcomment .vlist textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bdbdbd;
}